:root {
    --purple-light: #e45dff;
    --blue-light: #5dddff;
    --green-light: #5dff6d;
    --purple-dark: #4f015e;
    --blue-dark: #01395e;
    --green-dark: #035e01;
    --body-font: 'Ubuntu Sans';
    --heading-font: 'Prata';
}