:root {
    --purple-light: #e45dff;
    --blue-light: #5dddff;
    --green-light: #5dff6d;
    --purple-dark: #4f015e;
    --blue-dark: #01395e;
    --green-dark: #035e01;
    --background: #011420;
    --body: #dce4e9;
    --heading: #a2daff;
    --error: #fd3232;
    --blue-light-soft: rgba(93, 221, 255, 0.18);
    --body-font: 'Ubuntu Sans';
    --heading-font: 'Prata';
}